@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16350219');
  src: url('../font/fontello.eot?16350219#iefix') format('embedded-opentype'), url('../font/fontello.woff?16350219') format('woff'), url('../font/fontello.ttf?16350219') format('truetype'), url('../font/fontello.svg?16350219#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16350219#fontello') format('svg');
  }
}
*/
/* line 22, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-leo:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-libra:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-sagittarius:before {
  content: '\e802'; }

/* '' */
/* line 56, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-taurus:before {
  content: '\e803'; }

/* '' */
/* line 1, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%; }

/* line 9, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.header {
  font-weight: 100;
  color: #404040;
  text-align: center; }

/* line 13, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.primary-icon {
  background-color: #d1b186;
  color: #404040;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #404040;
  transition: all 150ms ease-in-out; }
  /* line 13, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .primary-icon:hover {
    color: #d1b186;
    background-color: #404040; }
  /* line 17, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .primary-icon:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
            animation: spinAround 2s linear infinite; }
  /* line 20, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .primary-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
            animation: spinAround 9s linear infinite; }

/* line 17, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.secondary-icon {
  background-color: #404040;
  color: #d1b186;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #d1b186;
  transition: all 150ms ease-in-out; }
  /* line 13, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .secondary-icon:hover {
    color: #404040;
    background-color: #d1b186; }
  /* line 17, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .secondary-icon:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
            animation: spinAround 2s linear infinite; }
  /* line 20, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .secondary-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
            animation: spinAround 9s linear infinite; }

/* line 21, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  /* line 26, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .bl-main section {
    position: absolute;
    width: 50%;
    height: 50%; }
  /* line 31, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .bl-main section:first-child {
    top: 0;
    left: 0;
    background-color: #d1b186; }
  /* line 34, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .bl-main section:nth-child(2) {
    top: 0;
    left: 50%;
    background-color: #404040; }
  /* line 37, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .bl-main section:nth-child(3) {
    top: 50%;
    left: 0;
    background-color: #404040; }
  /* line 40, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .bl-main section:nth-child(4) {
    top: 50%;
    left: 50%;
    background-color: #d1b186; }

/* line 45, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 75, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.bl-box h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 5em; }

@-webkit-keyframes spinAround {
  /* line 83, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  from {
    -webkit-transform: rotate(0deg); }

  /* line 86, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spinAround {
  /* line 99, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  /* line 102, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/*# sourceMappingURL=style.css.map */