/* are placeholders for storing information that you want to reuse throughout your styles.
	You can store things like colours, font-stacks, or any css value you think you might want to reuse.
	SCSS uses the '$' symbol to declaire variables. */
/* This file contains all mixins */
/* In this case, this mixin takes 3 general arguements (color, hover color and text color)*/
/* We get to make our own arguments (variables) */
/* You can create a mixin with as many arguments as you want.*/
@font-face {
  font-family: 'custom-font';
  src: url('../../font/custom-font.eot?16350219');
  src: url('../../font/custom-font.eot?16350219#iefix') format('embedded-opentype'), url('../../font/custom-font.woff?16350219') format('woff'), url('../../font/custom-font.ttf?16350219') format('truetype'), url('../../font/custom-font.svg?16350219#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16350219#fontello') format('svg');
  }
}
*/
/* line 22, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-leo:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-libra:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-sagittarius:before {
  content: '\e802'; }

/* '' */
/* line 56, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/font */
.icon-taurus:before {
  content: '\e803'; }

/* '' */
/* This is our main file for css and scss*/
/* line 4, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif; }

/* line 9, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
h1 {
  font-weight: 100;
  color: #404040;
  text-align: center; }

/* line 15, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.primary-icon {
  background-color: #d1b186;
  color: #404040;
  transition: all 150ms ease-in-out; }
  /* line 27, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .primary-icon:hover {
    color: #d1b186;
    background-color: #404040; }

/* line 19, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.secondary-icon {
  background-color: #404040;
  color: #d1b186;
  transition: all 150ms ease-in-out; }
  /* line 27, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/mixins */
  .secondary-icon:hover {
    color: #404040;
    background-color: #d1b186; }

/* line 24, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
.border, ul {
  border: 1px solid #ccc; }
  /* line 28, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-2-scss/scss/components/main */
  .border p, ul p {
    color: green; }
/*# sourceMappingURL=style.css.map */