@mixin header ($font-weight, $text-color, $text-align){
	font-weight: $font-weight;
	color: $text-color;
	text-align: $text-align;
}

@mixin icon($bg-color, $bg-hover, $text-color, $hover-color, $border-radius, $box-shadow){
	background-color: $bg-color;
	color: $text-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	transition: all 150ms ease-in-out;
	&:hover{
		color: $hover-color;
		background-color: $bg-hover;
	}
	&:hover:before{
		animation: spinAround 2s linear infinite;
	}
	&:hover:after{
		animation: spinAround 9s linear infinite;
	}
}



@mixin child($top, $left, $bg-color){
	top: $top;
	left: $left;
	background-color: $bg-color;
}