// Main
/* This is our main file for css and scss*/

body {
	background-color: $background;
	font-family: $helvetica;
}

.primary-btn {
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn {
	@include button($secondary, #666, #fff);
}

.border {
	border: 1px solid #ccc;
	// you can nest elements/ selectors to target them more specifically
	//this is targeting only paragraphs inside border
	p{
		color: green;
	}
}

ul {
	@extend .border;
}

//"@extend" reuses an existing class
//that class has to be declaired before you use it
//an extend must already be in your css